#container {
    background-color: white;
}

#city-image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#little-header {
    color: #677ea3;
    font-size: 15px;
    text-align: center;
}

#big-header {
    font-size: 35px;
    text-align: center;
}

#content {
    text-align: center;
    font-size: 17px;
    color: #978d97;
    background-color: white;
    /* border-radius: 10px;
    overflow: hidden */
}

.grid-container{
    display: grid;
    grid-template-columns: 
        auto auto auto;
    grid-template-rows: 
        auto; 
    background-color: #3f5b8b;
}

#footer1 {
    text-align: center;
    color: white;
}

#footer2 {
    text-align: center;
    color: white;
}

#footer3 {
    text-align: center;
    color: white;
}

#background {
    color: #1e1e1e;
    background-color: #1e1e1e;
}

/* @media screen and (max-width: 900px) {

} */