body {
    background-color: #5ca1d7;
}

.top h1{
    color: white;
    text-align: center;
    font-size: 2.2em;
}

.top h1:hover{ /*Only target h1 tags inside of 'top'*/
    color: black
}

.top p{
    color: white;
}

.list {
    width: 60%;
    font-size: 1.2em;
    text-align: center;
    
}

#heroimage{
    width: 25%;
    display: block;
    margin: 0 auto
}

blockquote{
    color: #fff;
    font-size: 2.2em;
    max-width: 250px;
    margin: 0 auto;
    padding: 5% 5% 5% 5%;
}

figcaption{
    text-align: center;
}

main p{
    text-align: center;
}