nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

/*Spaces mean "inside of, and you'd read this backwards.*/
/*The below reads as 'look for paragraphs inside of footers*/
footer p { 
    font-size: 20px;
    margin: 20px auto;
}

/*The below is a pseudo-element. The a means it's targeting all links.*/
/*"On a hover over a link, do __{inside the curly braces}___*/
a:hover {
    background-color: white;
    color: steelblue;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

body {
    margin: 0
}

h1 {
    text-align: center;
}